.product-container {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.product-container .product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1600px;
}

@media (max-width: 2000px) {
  .product-container .product {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1350px) {
  .product-container .product {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 960px) {
  .product-container .product {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-form {
    width: auto !important;
  }
}

@media (max-width: 700px) {
  .product-container .product {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-container .product a {
  text-decoration: none;
  color: white;
  font-family: 'Satoshi', sans-serif;
} 

.product-container .product a:hover .img img{
  transform: scale(1.08);
} 

.product-card {
  width: 292px;
  height: 358px;
  margin: 10px;
}


.product-container .product div:not(.img) {
  background-color: #333D39;
  border-radius: 12px ;
}

.product-container .product .product-text {
  padding: 0 12px;
  margin: 0;
}


.product-container .product .product-text div p {
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 0 0 0;
}

.product-container .product .product-text > p:last-of-type {
  margin: 0 0 16px 0;
  color: #C6C6C6;
}

.product-container .product-card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 278px;
  background-color: #F1FFFA;
  border-radius: 12px 12px 0 0;
}

.product-container .product .product-card .img img {
  width: 260px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-text div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}







.search-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  height: 100%;
}

.search-bar input {
  flex: 1;
  padding: 1rem;
}

.search-bar button {
  background-color: #333D39;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.search-bar button i {
  color: #ffffff;
}

.search-form select,
.search-form .search[type="submit"] {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.search-form .search[type="submit"] {
  background-color: #333D39;
  color: #ffffff;
}




.filter-sort-button {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  padding: 8px 16px;
  min-width: fit-content;
}

#filter-sort-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333D39;
  min-width: 460px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid white;
  z-index: 1;
}

.filter-sort-button:hover .dropdown-content {
  display: block;
}


#sort-select, #categorie-select {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}

#sort-select:hover, #categorie-select:hover {
  background-color: #eaeaea;
}

/* Style général pour les options */
select#sort-select option, select#categorie-select option{
  background-color: #333D39;
  color: white;
  font-family: 'Satoshi', sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
/* Style pour les options au survol */
select#sort-select option:hover, select#categorie-select option:hover {
  background-color: #22E49F;
  color: black;
}

/* Style pour les options sélectionnées */
select#sort-select option:checked, select#categorie-select :checked {
  background-color: #22E49F;
  color: black;
}

.dropdown-content {
  display: none;
}

.show {
  display: block;
}
