.product_container {
  margin: 200px 0;
  width: 100%;
}

.product-container .product {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.product-container .product a {
  text-decoration: none;
  color: white;
  font-family: 'Satoshi', sans-serif;
} 

.product-container .product a:hover .img img{
  transform: scale(1.08);
} 

.product-card {
  width: 292px;
  height: 358px;
}


.product-container .product div:not(.img) {
  background-color: #333D39;
  border-radius: 12px ;
}

.product-container .product .product-text {
  padding: 0 12px;
  margin: 0;
}


.product-container .product .product-text div p {
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 0 0 0;
}

.product-container .product .product-text > p:last-of-type {
  margin: 0 0 16px 0;
  color: #C6C6C6;
}

.product-container .product-card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 278px;
  background-color: #F1FFFA;
  border-radius: 12px 12px 0 0;
}

.product-container .product .product-card .img img {
  width: 85%;
  transition: transform 0.3s ease;
}

.product-text div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
