*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #7b7b7b;
}

body {
  margin: 0;
  background-color: #242A28;
  color: white;
  font-family: 'Satoshi', sans-serif;
}

.navbar {
  background-color: transparent;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 100px;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #242A28;
}

.nav-link {
  display: flex;
  gap: 2rem;
}

.nav-link .active {
  color: #22E49F;
  text-decoration: none;
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.15s ease-in;
}

.nav-link a:hover {
  color: #22E49F;
}

.nav-logo {
  justify-self: center;
}

.fa-bicycle {
  font-size: 2rem;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.nav-buttons button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-buttons a i {
  position: relative;
}

.nav-buttons a {
  position: relative;
}

.nav-buttons a #bucketCount {
  background-color: #22E49F;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: 2px solid #242A28;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #242A28;
  position: absolute;
  top: 12px; /* Adjust position to your needs */
  left: 8px; /* Adjust position to your needs */
}


.fa-magnifying-glass {
  color: white;
}

.fa-magnifying-glass:hover {
  color: #22E49F;
}

.fa-bag-shopping {
  color: white;
  transition: color 0.10s ease-in;
}

.fa-bag-shopping:hover {
  color: #C6C6C6;
}





#search-container {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #242A28;
  padding: 0 100px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  z-index: 1000;
}



/* Styles pour afficher le formulaire de recherche */
#search-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 40px 100px;
}

/* Styles pour le fond flou */
#blur-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 500;
}

/* Styles pour afficher le fond flou */
#blur-background.show {
  display: block;
}

.search-form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-header input {
  flex: 1;
  padding: 1rem;
  width: 100%;
}

.search-header {
  padding: 1rem;
  border-radius: 5px;
  border: white 1px solid;
  cursor: pointer;
  background-color: #22E49F;
  transform: translateX(-5px);
}






