#bucketContents {
  min-height: 100vh;
  height: auto;
}

.panier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.panier .content {
  text-align: left;
  width: fit-content;
}

.content h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 0;
}

.content p {
  margin:  0.5rem 0 4rem 0;
}

.content a {
  background-color: #22E49F; 
  color: black; 
  padding: 16px 32px; 
  text-transform: uppercase; 
  text-decoration: none; 
  font-weight: 700; 
  border-radius: 12px;
  transition: all 0.3s ease;
}

.content a:hover {
  letter-spacing: 2px;
  background-color: #2D8263;
  color: hsl(0, 0%, 100%);
  box-shadow: #2D8263 0px 7px 29px 0px;
}

.content a:active {
  letter-spacing: 2px;
  background-color: #164433;
  color: hsl(0, 0%, 100%);
  box-shadow: #2D8263 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.items-container {
  margin-top: 100px;
}



.panier-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1920px;
  margin: 100px auto 0 auto;
  gap: 6rem;
}

.title-articile h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 0;
}

.article-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  border: 1px solid #ffffff;
  gap: 2rem;
  margin-bottom: 2rem;
}

.article-container h2{
  margin: 0 0 0.5rem 0;
}

.article-container .img-container{
  background-color: #F1FFFA;
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-container .img-container img{
  width: 100%;
}

.article-container .article-info {
  flex-grow: 1;
  max-width: 680px;
  justify-content: space-between;
  display: flex;
  gap: 2rem;
}

.article-text .price {
  font-size: 1.3rem;
  font-weight: 600;
}

.article-text .description {
  width: 80%;
}

.text-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.btn-container .delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
}

.total-price {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 85px;
}

.total-price button {
  background-color: #22E49F; 
  color: black; 
  padding: 16px 32px; 
  text-transform: uppercase; 
  text-decoration: none; 
  font-weight: 700; 
  width: 100%;
  border-radius: 12px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.total-price button:hover {
  letter-spacing: 2px;
  background-color: #2D8263;
  color: hsl(0, 0%, 100%);
  box-shadow: #2D8263 0px 7px 29px 0px;
}

.total-price button:active {
  letter-spacing: 2px;
  background-color: #164433;
  color: hsl(0, 0%, 100%);
  box-shadow: #2D8263 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


@media (max-width: 1600px) {
  .panier-container {
    padding: 100px;
  }
  .article-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 500px;
  }

  .article-container .img-container {
    width: 100%;
    height: auto;
  }

  .article-container .article-info {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    gap: 1rem;
  }

  .article-info {
    width: 100%;
  }

  .article-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .article-text .description {
    text-align: center;
  }

  .text-info {
    flex-direction: column;
    align-items: center;
  }

  .btn-container {
    background-color: #164433;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .panier-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}